@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
#hero {
    background:  linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url('../assets/hero-bg.png');
    height: 652px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero_content {
   width: 726.33px;
}

#hero .hero_content .subtitle {
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 22px;
font-weight: 600;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.8;
margin-bottom: 22px;

}

#hero .hero_content .title {
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 22px;
}

#hero .hero_content .description {
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 13px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 22px;
}

#hero .hero_content .btn_container {
    text-align: center;
}
.btn_container .button {
    border-radius: 8px;
    background: rgb(82, 195, 3);
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 14px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 14px 22px 14px 22px;
border: none;
}
/* Card section */

.card_boxes {
    width:937px;
    margin: 100px auto;
    
}

.card_boxes .card_header {
    text-align: center;
    width: 490px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.card_boxes .card_header .subtitle {
    opacity: 0.6;
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
}
.card_boxes .card_header .title {
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 35px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .card_image  {
    width: 300px;
    
}
.card .card_image img  {
    width: 100%;
}
.card .food_name  {
    padding: 10px 20px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}

.card_wrap {
    display: flex;
    gap: 5px;
    justify-content: space-around;
}
